.name_site {

}

.grid-search-cards {
  height: 280;
  width: 420;
}

.grid-search-cards {
  margin-left: 20px;
}

.scroll {
  overflow: scroll;
  max-height: 90vh;
}

.card-text {
  margin-left: 20px;
}
