
// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
// }
html {
  background-color: $black;
}

.page-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  // position: fixed;
  // transform: translate(-50%, -50%);
  border-radius: 25px;
  // border:  0.5px solid white;
  margin-top: 30px;

  .projects-container {
    display: flex;
    flex-direction: column;
    width: 60%;

    .card {
      background-color: $dark-grey;
      border-radius: 15px;
      padding: 15px;
      padding: 20px 20px 40px 20px;
      margin: 15px;
      margin-bottom: 70px;
    }
  }

  .right-containers {
    display: flex;
    flex-direction: column;
    width: 40%;

    .cont  {
      background-color: $green-dark;
      height: 100px;
      margin: 15px;
      border-radius: 15px;
      padding: 20px;
    }

    .community-projs {
      height: 330px !important;
    }
  }
}

.text-header {
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border-bottom:  0.5px solid white;
  justify-content: space-between;
  margin-bottom: 30px;
  // border-color: white;
}

.user-info {
  // padding-left: 20px;
  color: $white;
  vertical-align: middle;
  align-items: center;

  h3 {
    font-weight: 400;
    font-size: 12px;
  }

  p {
    font-weight: 100;
    font-size: 10px;
  }
}

.project-cards {
  display: flex;
  flex-direction: column;
  // width: 100%;
  justify-content: space-between;
  gap: 15px;

  .site-card{
    padding: 8px;
    transition: all 1s ease;

    &:hover{
      // box-shadow: 4px 4px rgba(0,0,0,0.1);
      outline: 0.5px solid  $green-medium;
    }

    a {
      text-decoration: none;
    }
  }

  .site-card{
    display: flex;
    // flex-direction: column;
    border-radius: 15px;

    .site-tags {
      padding-left: 20px;
      color: white;
      vertical-align: middle;
      align-items: center;

      h2 {
        font-weight: 600;
        font-size: 16px;
        color: white;
      }

      h3 {
        font-weight: 400;
        font-size: 12px;
        color: white;

      }

      p {
        font-weight: 100;
        font-size: 10px;
        color: white;
      }

      i {
        color: white;
      }
    }

      // #site-btns {
      //   i {
      //     font-size: 20px;
      //     color: green
      //   }
      // }

      .site-crud-btns i {
        font-size: 17px;
        margin-right: 14px;
        margin-top: 8px;
    }

      .site-img {
        overflow: hidden;
        border-radius: 10px;
        // border: 15px;
        // border-color: aqua 2px;

        img {
          width: 200px;
          height: 150px;
          // width: 100%;
        }

      }
    }
  }
