.name_site {
}

.light-background {
  background-color: antiquewhite;
}

.grid-search-cards {
  height: 280;
  width: 420;
}

.grid-search-cards {
  margin-left: 20px;
}

.scroll {
  overflow: scroll;
  max-height: 100vh;
  padding-bottom: 100px;
}

.card-text {
  margin-left: 20px;
}

.card-wide-top {
  background-color: $dark-grey;
  color: white;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
    h1 {
      padding-left: 24px;
    }

    p {
      padding-left: 24px;
      font-size: 19px;
    }
}
