.background-white {
  background-color: $white;
}
// the main page with title and subtitle
.info-show {
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  background-color: $white;
  padding-top: 50px;
  padding-bottom: 50px;
  // border-bottom: 1px solid $light-grey;


    h2 {
      color: $dark-grey;
      font-size: 54px;

    }

    h3 {
      color: $dark-grey;
      font-size: 22px;
      padding-bottom: 30px;

    }


}

// here I can edit the boxes with characteriscis.

.info-char {

}

//simple card for displaying multiple info of each plant

.simple-card {
  border-radius: 20px;
  border: 1px solid $light-grey;

    p {
      color: $dark-grey;
      padding: 12px;

    }
}

.sticky-button {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 100;
}

.btn-big {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: $dark-grey !important;


  color: $white;

    :hover {
      background-color: $white;
    }

}

.background-logs {
  background-color: $white !important;
  // height: 100px;
}


// the card display of the logs in the site_plant show page
.real-logg-card-1 {
  width: 500px;
  color: $black;

}
