<div class="container">
  <p>These are all your posts for this plant.</p>
  <p>You can also fin info here!</p>
</div>

<div class="log-list">
    <div class="card-list-navbar">
    </div>

    <div class="card-list-date">
    </div>

</div>
