<div class="ryb-footer" id="footer">
    <div class="footer-links icons pl-4">
      <a href="#"><i class="fab fa-instagram px-2 nav-link fa-5x"></i></a>
      <a href="#"><i class="fab fa-facebook px-2 nav-link"></i></a>
      <a href="#"><i class="fab fa-twitter px-2 nav-link"></i></a>
    </div>
    <div class="footer-links px-2">
      <div class="px-3">
        <%= link_to "About RYB", sites_path, class: "nav-link", style: "color: white !important;" %>
      </div>
      <div class="px-3">
        <%= link_to "Contact Us", sites_path, class: "nav-link", style: "color: white !important;" %>
      </div>
      <div class="px-3">
        <%= link_to "The team", sites_path, class: "nav-link", style: "color: white !important;" %>
      </div>
    </div>
  </div>
</div>
