<div class="container">

  <div class="grid-search-bar">
    <div>
      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
        <div class="search-form-control-phaf form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      </form>
    </div>

  </div>

  <div class="grid-search-cards">
  <%# replace all these div for a sites.plants.each do |plant|
  I have the code in Notion. Waiting for some plants to be created. %>
    <div class="card-plant-grid flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="plant_example.jpg" alt="Plant">
        </div>
        <div class="flip-card-back">
          <h2>Stawberry</h2>
          <p>Some details</p>
          <p>We love this plant!</p>
          <%= link_to "#" do %>
            <i class="fa-solid fa-plus plus-icon"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card-plant-grid flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="plant_example.jpg" alt="Plant" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h2>Stawberry</h2>
          <p>Some details</p>
          <p>We love this plant!</p>
          <%= link_to "#" do %>
            <i class="fa-solid fa-plus plus-icon"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card-plant-grid flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="plant_example.jpg" alt="Plant" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h2>Stawberry</h2>
          <p>Some details</p>
          <p>We love this plant!</p>
          <%= link_to "#" do %>
            <i class="fa-solid fa-plus plus-icon"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card-plant-grid flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="plant_example.jpg" alt="Plant" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h2>Stawberry</h2>
          <p>Some details</p>
          <p>We love this plant!</p>
          <%= link_to "#" do %>
            <i class="fa-solid fa-plus plus-icon"></i>
          <% end %>
        </div>
      </div>
    </div>


  </div>

</div>
