<div>
  <div class="plant-list-slide">
    <div class="top-bar-list sticky-top">
      <i data-feather="filter"></i>
      <div class="search-bar">
      </div>
  </div>

  <div class="plant-list-slide plant-list-grid">
    <div class="card-plant-list">
      <%= image_tag("plant_example.jpg", :alt => "rss feed") %>
      <div class="card-plant-list-infos">
        <h2>Title of log</h2>
        <p>22 of november, 2022</p>
      </div>
    </div>

    <div class="card-plant-list">
      <%= image_tag("plant_example.jpg", :alt => "rss feed") %>
      <div class="card-plant-list-infos">
        <h2>Title of Log</h2>
        <p>22 of November, 2022</p>
      </div>
    </div>

    <div class="card-plant-list">
      <%= image_tag("plant_example.jpg", :alt => "rss feed") %>
      <div class="card-plant-list-infos">
        <h2>Title of log</h2>
        <p>21 of November, 2022</p>
      </div>
    </div>
  </div>

  <div class="button-side-bar sticky-bottom">
    <a class="btn btn-ghost light" href="#">New log</a>
  </div>
</div>
