<div class="filter-list-container">
  <div class="filter-slide-container">
    <div class="filter-group">
      <div class="form-check filter-name">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label check-filter" for="flexCheckDefault">Ground layers</label>
      </div>

      <div class="form-check filter-name">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label check-filter" for="flexCheckDefault">Ground layers</label>
      </div>
    </div>

    <div class="form-check filter-name">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label check-filter" for="flexCheckDefault">Ground layers</label>
    </div>

    <div class="form-check filter-name">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label check-filter" for="flexCheckDefault">Ground layers</label>
    </div>
  </div>
</div>
