<div class="proj-dasboard">

  <%# SIDEBAR %>
  <div class="sidebar">
    <div class="logo">
      <div class="btn-side-bar bckg-none">
        <%= image_tag("RYB.png", :alt => "rss feed") %>
      </div>
    </div>

    <%# MIDDLE BUTTONS %>
    <div class="action-btns">
      <div class="btn-side-bar">
        <i class="fa-solid fa-seedling"></i>
      </div>
      <div class="btn-side-bar">
        <i class="fa-solid fa-leaf"></i>
      </div>
      <div class="btn-side-bar">
        <i class="fa-solid fa-book"></i>
      </div>
      <div class="btn-side-bar">
        <i class="fa-solid fa-folder"></i>
      </div>
    </div>

    <%# SETTINGS BUTTONS %>
    <div class="settings-btns">
      <div class="btn-side-bar bckg-none">
        <i class="fa-solid fa-gear"></i>
      </div>
      <div class="btn-side-bar bckg-none">
        <i class="fa-solid fa-user"></i>
      </div>
    </div>
  </div>
</div>
