<div class="filter-list-container filter-list-slide">
  <div class="filter-slide-container">
    <form action="/sites/<%= @site.id %>/search">

    <%# Type %>
    <div class="filter-group">
      <div class="form-check filter-name">
        <p>Type</p>
        <input class="" type="checkbox" name="deciduous" value="" id="flexCheckDefault10">
        <label class="form-check-label check-filter" for="flexCheckDefault">Deciduous</label>
      </div>

      <div class="form-check filter-name">
        <input class="" type="checkbox" name="edible" value="" id="flexCheckDefault11">
        <label class="form-check-label check-filter" for="flexCheckDefault1">Evergreen</label>
      </div>

      <div class="form-check filter-name">
        <input class="" type="checkbox" name="tree" value="" id="flexCheckDefault156">
        <label class="form-check-label check-filter" for="flexCheckDefault1">Tree</label>
      </div>

      <div class="form-check filter-name">
        <input class="" type="checkbox" name="climber" value="" id="flexCheckDefault14">
        <label class="form-check-label check-filter" for="flexCheckDefault1">Climber</label>
      </div>

      <div class="form-check filter-name">
        <input class="" type="checkbox" name="shrub" value="" id="flexCheckDefault15">
        <label class="form-check-label check-filter" for="flexCheckDefault1">Shrub</label>
      </div>

      <div class="form-check filter-name">
        <input class="" type="checkbox" name="shrub" value="" id="flexCheckDefault17">
        <label class="form-check-label check-filter" for="flexCheckDefault1">Ground cover</label>
      </div>
    </div>

    <%# SUN/SHADE %>
    <div class="filter-group">
      <div class="form-check filter-name">
        <p>Sun / Shade</p>
        <input class="" type="checkbox" name="full_sun" value="" id="flexCheckDefault24">
        <label class="form-check-label check-filter" for="flexCheckDefault">Full sun</label>
      </div>

      <div class="form-check filter-name">
        <input class="" type="checkbox" name="part_shade" value="" id="flexCheckDefault25">
        <label class="form-check-label check-filter" for="flexCheckDefault1">Partial shade</label>
      </div>

      <div class="form-check filter-name">
        <input class="" type="checkbox" name="full_shade" value="sexy plants" id="flexCheckDefault26">
        <label class="form-check-label check-filter" for="flexCheckDefault1">Full shade</label>
      </div>
    </div>

      <%# FUNCTIONS %>
    <div class="filter-group">
      <div class="form-check filter-name">
        <p>Functions</p>
        <input class="" type="checkbox" name="n_fixer" value="" id="flexCheckDefault34">
        <label class="form-check-label check-filter" for="flexCheckDefault">Nitrogen fixer</label>
      </div>

      <div class="form-check filter-name">
        <input class="" type="checkbox" name="part_shade" value="" id="flexCheckDefault35">
        <label class="form-check-label check-filter" for="flexCheckDefault1">Wind protection</label>
      </div>

      <div class="form-check filter-name">
        <input class="" type="checkbox" name="full_shade" value="sexy plants" id="flexCheckDefault36">
        <label class="form-check-label check-filter" for="flexCheckDefault1">Soil stabilization</label>
      </div>

      <div class="form-check filter-name">
        <input class="" type="checkbox" name="full_shade" value="sexy plants" id="flexCheckDefault46">
        <label class="form-check-label check-filter" for="flexCheckDefault1">Water filtration</label>
      </div>
    </div>
    <div class="button-filter">
      <input type="submit",  value="Filter",  class="btn-small">
    </div>
  </div>

  </form>
</div>
