<div>
  <div class="plant-list-slide">
    <div class="top-bar-list sticky-top">
      <h2>Planted!</h2>
      <%= render "shared/searchbar_side" %>
    </div>

    <div class="plant-list-slide plant-list-grid">
      <div class="card-plant-list">
        <%= image_tag("plant_example.jpg", :alt => "rss feed") %>
        <div class="card-plant-list-infos">
          <h2>Latin name</h2>
          <p>Popular name</p>
        </div>
      </div>

      <div class="card-plant-list">
        <%= image_tag("plant_example.jpg", :alt => "rss feed") %>
        <div class="card-plant-list-infos">
          <h2>Latin name</h2>
          <p>Popular name</p>
        </div>
      </div>

      <div class="card-plant-list">
        <%= image_tag("plant_example.jpg", :alt => "rss feed") %>
        <div class="card-plant-list-infos">
          <h2>Latin name</h2>
          <p>Popular name</p>
        </div>
      </div>
    </div>
  </div>
</div>
