<%# WEATHER FORECAST %>
<div class="row justify-content-center" data-controller="weather">
  <span class= "d-none" data-weather-target="address" data-address-value='<%= "#{current_user.location}" %>'></span>
  <div class="col-sm-8">
    <div class="card mt-4 mb-5">
      <div class="card-body">
        <h1>Weather in <span data-weather-target="city"> <%= current_user.location %> </span></h1>
        <h3 class="text-secondary" data-weather-target="date"><%= Date.today %></h3>
        <div>
          <p data-weather-target="description"><!-- TODO: DESCRIPTION --></p>
          <div class="d-flex">
            <img src="" alt="Weather Icon" data-weather-target="icon">
            <h2 data-weather-target="temperature"><!-- TODO: TEMPERATURE --></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
