<section class="backgr-home full-scr d-flex justify-content-center align-items-center">
      <div>
        <div class="rewild-anim">
          <%# <h1>REWILD YOUR BACKYARD</h1> %>
          <div class="ryb-logo">
            <%= show_svg('logo/Ryb_400.svg') %>
          </div>
          <div>
          <%# <h1><span data-controller="typed-js"></span></h1> %>
          </div>
        </div>
        <div class="arrow w-100 text-center">
          <%= link_to "#scroll-home" do%>
            <i class="fa-solid fa-chevron-down fa-5x"></i>
          <% end %>
        </div>
      </div>
      </section >
      <section class="backgr-home full-scr d-flex justify-content-center align-items-center" id="scroll-home">
        <div class="start-here-bxs">
          <div class= "start-here">
            <%= link_to sites_path do%>
              <h3>Search the right plants</h3>
            <% end %>

          </div>
          <div class= "start-here">
            <h3>Track your daily activities</h3>
          </div>
          <div class= "start-here">
              <h3>Connect with your community</h3>
          </div>
        </div>
      </section>
