    <%# CENTRAL CONTAINER %>
    <%# REWILD ANIMATION %>
     <div class="rewild-anim">
      <%# <h1>REWILD YOUR BACKYARD</h1> %>
      <div class="ryb-logo">
        <%= show_svg('logo/Ryb_400.svg') %>
      </div>
    </div>


    <%# FOOTTER %>
<%# <div class="button-side-bar sticky-bottom">
  <%= link_to "See my sites", sites_path(@user),:class=>"btn btn-ghost light" %>
<%# </div> %>
