<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="button-side-bar sticky-bottom">
  <%= link_to "See my sites", sites_path(@user),:class=>"btn btn-ghost light" %>
</div>
