
<!-- // Button -->
<br>
<br>
<a class="btn btn-ghost light" href="#">Search</a>
<br>
<br>
<a class="btn btn-ghost medium" href="#">Add to nursery</a>
<br>
<br>
<a class="btn btn-ghost dark" href="#">Back</a>

<!-- // Search bar pfaf -->



<!-- // Vertical navbar -->




<!-- // Sidebar -->


<!-- // Greenhouse / Plant Card Front and back -->


<!-- // Green house / Card list -->


<!-- // Slide bar -->


<!-- // Search bar for cards -->


<!-- // Search bar for slide bar -->

<!-- // Card list logs -->

<!-- // Nav bar landing page -->

<!-- // Filter list -->

<!-- // Card Projects -->

<!-- // Calendar -->
