
<!-- // Button -->

<button type="button" class="btn btn-primary btn-lg">Search</button>

<!-- // Search bar pfaf -->



<!-- // Vertical navbar -->


<!-- // Sidebar -->


<!-- // Greenhouse / Plant Card Front and back -->


<!-- // Green house / Card list -->


<!-- // Slide bar -->


<!-- // Search bar for cards -->


<!-- // Search bar for slide bar -->

<!-- // Card list logs -->

<!-- // Nav bar landing page -->

<!-- // Filter list -->

<!-- // Card Projects -->

<!-- // Calendar -->
