.btn-ghost {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  color: white;
  // border: 1px solid $black;
  padding: 8px 24px;
  border-radius: 4px;
  // opacity: 0.8;
  transition: opacity 0.3s ease;

  &:hover {
  background: $green-dark;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }
}

// .btn-small {
//   background-color: $green-dark;
//   border-radius: 0.8rem;
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 600;
//   color: white;
//   padding: 0 1.2rem 0;
//   text-decoration-line: none;
//   border-width: 1px;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   font-size: .8rem;
//   border:  1px solid white;
// }

.btn-small {
  color: white;
  padding: 8px 18px;
  border-radius: 0.8rem;
  background: $green-dark;
  transition: background 0.3s ease;
  text-decoration: none;
  margin: auto;
  margin-bottom: 16px;
  text-align: center;
  border:  0.5px solid white;
  font-size: 12px;
}

.light {
  background: $green-light;

  &:active {
    background: $green-medium;
  }
}

.medium {
  background: $green-medium;

  &:active {
    background: $green-medium;
  }
}

.dark {
  background: $green-dark;

  &:active {
    background: $green-medium;
  }
}

// botton from UI kit Le Wagon. Used in the search bar phaf

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $green-dark;
  transition: background 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.btn-flat-1 {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  text-decoration: none;
  margin: auto;
  margin-bottom: 16px;
  text-align: center;
  border-radius: 4px;
  border: 2px solid $green-dark;
}

.btn-flat:hover {
  background: $green-medium;
  color: white;
}

// a button final model

.btn-flat-card {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $green-dark;
  transition: background 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.btn-flat-card:hover {
  background: $green-medium;
  color: white;
}

.btn-round {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  background-color: $dark-grey !important;
  color: $white !important;

    a {
      text-decoration: none;
      color: $white;


    }

}

.btn-chip {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px impora !important;
  font-weight: 500;
  color: white !important;
  // border: 1px sol
  height: 50px;
  padding: 16px 24px;
  border-radius: 25px !important;
  margin: 8px;
  // opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: $green-medium !important;

  &:hover {
  background: $green-light !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }

}
