.search-form-control-phaf {
  position: relative;
  width: 850px;
  align-content: center;
  justify-content: center;
}

.form-control {
  background-color: $black !important;
  color: $white !important;
  border: 2px solid $medium-grey !important;
}

.search-form-control-phaf .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $green-medium;
  transition: background 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.search-form-control-phaf .btn:hover {
  background: $green-dark;
  color: white;
}

.search-form-control-phaf .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.search-form-control-phaf .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
