// buttons from side bar

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: $black;
  width: 60px;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;

  // border-right: solid $light-grey;

}

.btn-side-bar {
  background-color: $black;
  color: $black;
  width: 60px;
  height: 50px;
  font-size: 25px;
  text-align: center;
  align-items: center;
  padding: 5px;

    i {
      color: $green-light;
      align-items: center;
    }

    &:hover {
      background-color: $dark-grey;

        i {
          color: $white
        }
    }
}

.middle-buttons {
  margin-bottom: 20px;
}

// .logo {
//   margin-top: 10px;
// }


.bckg-none {
  background-color: $black;
  color: $green-light;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

// Button + to add plants to database

.plus-icon {
  height: 56px;
  width: 56px;
  color: $green-medium;
}
