.site-show-container {
  margin: 22px;
  padding: 20px;
  height: 160px;
  border-radius: 15px;
  background-color: $dark-grey;
  color: $white;
}

.card-body {
  background-color: #9AB89A;
  border-radius: 25;
}

.card-body-top {
  // background-color: $dark-grey;
  border-radius: 25;

}


.text-secondary-black {
  color: black;
  font-size: 24px;
}

.real-logg-card {
  background-color: #9AB89A;
  color: $black;
  font-size: 18px;
  padding: px;
  margin: 15px 0 0 15px;
  border-radius: 15px;
  width: 50vw;

  h3 {
    font-size: 16px !important;
  }
}

.btn-goback-newlog a,.btn-goback-newlog a:hover {
  color: $white !important;
  padding: 8px 24px;
  border-radius: 4px;
  background: #2A2A2A;
  transition: background 0.3s ease;
  text-decoration: none;
  // margin-left: 200px;
  margin-bottom: 20px;
  text-align: center;

}

.background-color {
  background-color: $white !important;
}

.scroll-content {
  background-color: $white
}

.btn.btn-primary {
  background-color: #2A2A2A;
}
