.mapboxgl-popup {
  max-width: 200px;
  background-color: rgb(242, 136, 16);

}

.mapboxgl-popup-content {
  color: rgb(245, 237, 85);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(105, 148, 99) !important;
}
