<div class="d-flex">
  <%= render "shared/sidebar_btns", site: @site %>
  <%= render "shared/sidebar_logs", log: @log, site: @site %>
</div>

<%# HERE WE HAVE TO ADD ALL THE INFO (MAYBE A PARCIAL) OF THE DETAILS OF THE PLANT. %>
