<div class="d-flex scroll-content">
  <%= render "shared/sidebar_btns", site: @site %>
  <%= render "shared/dashboard_proj", site: @site %>
  <%# <%= render "plants/show", site:@site%> %>
  <div>
</div>
